:root {
  /* Colors */
  --tg-color-primary: #3B82F6;
  --tg-color-primary-50: #EFF6FF;
  --tg-color-primary-100: #DBEAFE;
  --tg-color-primary-200: #BFDBFE;
  --tg-color-primary-300: #93C5FD;
  --tg-color-primary-400: #60A5FA;
  --tg-color-primary-500: var(--tg-color-primary);
  --tg-color-primary-600: #2563EB;
  --tg-color-primary-700: #1D4ED8;
  --tg-color-primary-800: #1E40AF;
  --tg-color-primary-900: #1E3A8A;

  --tg-color-info: #3B82F6;
  --tg-color-info-50: #EFF6FF;
  --tg-color-info-100: #DBEAFE;
  --tg-color-info-200: #BFDBFE;
  --tg-color-info-300: #93C5FD;
  --tg-color-info-400: #60A5FA;
  --tg-color-info-500: var(--tg-color-info);
  --tg-color-info-600: #2563EB;
  --tg-color-info-700: #1D4ED8;
  --tg-color-info-800: #1E40AF;
  --tg-color-info-900: #1E3A8A;

  --tg-color-success: #48BB78;
  --tg-color-success-50: #EFF9F3;
  --tg-color-success-100: #DDF2E6;
  --tg-color-success-200: #B8E4CA;
  --tg-color-success-300: #92D7AF;
  --tg-color-success-400: #6DC993;
  --tg-color-success-500: var(--tg-color-success);
  --tg-color-success-600: #389860;
  --tg-color-success-700: #2B7249;
  --tg-color-success-800: #1D4D31;
  --tg-color-success-900: #0F2819;

  --tg-color-warning: #FFC107;
  --tg-color-warning-50: #FFFAED;
  --tg-color-warning-100: #FFF4D3;
  --tg-color-warning-200: #FFE7A0;
  --tg-color-warning-300: #FFDB6D;
  --tg-color-warning-400: #FFCE3A;
  --tg-color-warning-500: var(--tg-color-warning);
  --tg-color-warning-600: #D39E00;
  --tg-color-warning-700: #A07800;
  --tg-color-warning-800: #6D5200;
  --tg-color-warning-900: #3A2B00;

  --tg-color-danger: #FF004C;
  --tg-color-danger-50: #FFE5ED;
  --tg-color-danger-100: #FFCCDB;
  --tg-color-danger-200: #FF99B7;
  --tg-color-danger-300: #FF6694;
  --tg-color-danger-400: #FF3370;
  --tg-color-danger-500: var(--tg-color-danger);
  --tg-color-danger-600: #CC003D;
  --tg-color-danger-700: #99002E;
  --tg-color-danger-800: #66001E;
  --tg-color-danger-900: #33000F;
}