.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 0 none;
  cursor: pointer;
  &[class~=btn-primary] {
    background-color: var(--tg-color-primary);
    color: #ffffff;
  }
  &[class~=btn-success] {
    background-color: var(--tg-color-success);
    color: #ffffff;
  }
  &[class~=btn-warning] {
    background-color: var(--tg-color-warning);
    color: #ffffff;
  }
  &[class~=btn-danger] {
    background-color: var(--tg-color-danger);
    color: #ffffff;
  }
  &[class~=btn-muted] {
    background-color: #e1e1e1;
    color: #707070;
  }
  &[class~=btn-disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
  &[class~=btn-block] {
    width: 100%;
  }
}